/data/pre-process/terraclimate/pre_data/
/experiment/
/data/pre-process/population/2023/
/data/pre-process/population/Data of Population 2002 to 2022.csv
/data/pre-process/population/combine_pop_2023.ipynb
/data/pre-process/population/population_extrapolation.ipynb
/data/pre-process/terraclimate/data/
/eda/
